body {
    background-color: black;
    font-family: "Lucida Console", Monaco, monospace;
    display: block;
    border: 1pt;
    margin: 1pt;
    
    
}
p, ul, li {
    color: #c0c0c0;
    font-size: 9pt;
    width: 579px;

}

h1, h2, h3, h4, h5, h6, footer {
    color: #00af00;
    font-size: 9pt;
    width: 579px;
    font-weight: lighter;
}

a {
    color: #00af00;
}

.environment-variable {
    color:#af00af;
}

.directory {
    color: gold;
}